include: config/model/ad_base.yaml

model: AD

# Compressed Context Mode
use_compressed_context: true
compress_interval: 80  # Should match n_steps from PPO config

# Transformer
tf_n_embd: 64
tf_n_layer: 4
tf_n_head: 4
tf_dropout: 0.1
tf_attn_dropout: 0.1
tf_n_inner: 128
n_transit: 240  # Should be at least 2x compress_interval to hold 2 compression regions

# training
lr: 0.0003  
train_batch_size: 512
test_batch_size: 2048
train_source_timesteps: 1000
train_timesteps: 50000
num_warmup_steps: 1000  

num_workers: 4
